body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #6b7c93;
}
a:hover {
  color: #47495a;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer {
  margin: 0;
  padding: 0;
  min-height: 505px;
  background-color: rgb(240, 244, 247);
  color: #6b7c93;
  font-size: 14px;
}
footer li {
  height: 30px;
}
footer>div {
  width: 1140px;
  padding: 84px 0;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.links>div {
  display: inline-block;
  /* border: 1px solid red; */
  vertical-align: top;
  width: 18%;
}
.links h3 {
  font-size: 19px;
  color: #47495a;
}
.footer-info li {
  display: inline-block;
  margin-right: 10px;
}
.footer-info {
  float: right;
  padding-top: 55px;
}
.footer-info a {
  color: #a4b0c1;
}
.footer-info a:hover {
  color: #47495a;
}
.badge {
  display: inline-block;
  margin-top: 30px;
}
.app {
  display: inline-block;
  width: 128px;
  height: 38px;
  margin-right: 8px;
  background-size: cover;
  color: rgba(0, 0, 0, 0); /* 隐藏下载链接的文字 */
  box-shadow: 0 6px 9px 0 rgba(23,28,33,.14);
}
a.app:hover {
  color: rgba(0, 0, 0, 0);
}
.app.apple {
  background-image: url(./download-on-appstore.svg);
}
.app.android {
  background-image: url(./download-on-google-play.png);
}

hr {
  width: 1180px;
  margin-left: -20px;
  border: 0;
  border-top: 1px solid #d2dde6;
  /* color: #6b7a82; */
  /* background-color: #d2dde6; */
}
.products ul {
  /* display: flex; */
}
.products li {
  width: 50%;
  border: 1px solid;
}
.products li a {
  color: red !important;
}
